#!/bin/zsh

# Vim-like exit operation.
alias Q='exit'

# Quick commands access.
alias g='git'

# Tell Git how to complete complex aliases.
#
# See https://coderwall.com/p/d2w7oa/auto-completion-within-complex-git-alias
#
function _git_df() {
  _git_log
}

# Open {Neo,}Vim tabs for each argument.
alias v='vim -p'
alias nv='nvim -p'

# Directory listing.
alias ll='ls -halF --color=tty'

# Basic directory operations.
alias ..='cd ..'

# Super-User operations.
#
# See https://wiki.archlinux.org/index.php/Sudo#Passing_aliases
alias _='sudo '

for __cmd in apt-get service start stop status restart; do
  eval "alias $__cmd='_ $__cmd'"
done ; unset __cmd

# The Unix socket where Docker listens is accessible by the 'docker' group.
# Simply add your log in to this group for unrestricted access.
