#!/usr/bin/env zsh

# Vim-like exit operation.
alias Q='exit'

# Quick commands access.
alias g='git'

# Tell Git how to complete complex aliases.
#
# See https://coderwall.com/p/d2w7oa/auto-completion-within-complex-git-alias
#
function _git_df() {
  _git_log
}

# See http://stackoverflow.com/a/15157360
#
function npm-exec() {
  local __bin_path="$( npm bin )"

  PATH="$__bin_path:$PATH" "$@"
}

# Open {Neo,}Vim tabs for each argument.
alias v='nvim -p'
alias vv='vim -p'

# Directory listing.
alias ll='ls -halF --color=tty'

# Basic directory operations.
alias ..='cd ..'

for __cmd in apt-get apt-add-repository service start stop status restart; do
  eval "alias $__cmd='sudo $__cmd'"
done ; unset __cmd

# The Unix socket where Docker listens is accessible by the 'docker' group.
# Simply add your log in to this group for unrestricted access.
