#!/bin/zsh

# Vim-like exit operation.
alias Q='exit'

# Quick commands access.
alias g='git'

# `tmux` operations for starting and attaching to sessions.
for session_name in default.default inception.vm; do
  eval "alias '${session_name%.*}!'='tmux has-session -t ${session_name%.*} &>/dev/null && exec tmux attach-session -t ${session_name%.*} || exec tmux new-session -s ${session_name%.*} -n ${session_name#*.}'"
done

# Directory listing.
alias ll='ls -hal --color=tty'

# Basic directory operations.
alias ..='cd ..'

# Super-User operation.
alias _='sudo'
