[user]
	name = ${name}
	email = ${email}
[company]
	name = PSP UK Group Ltd.
	email = hello@psp-group.co.uk
[github]
	user = ${username}
	token = ${token}
[gui]
	fontui = -family \"DejaVu Sans\" -size 8 -weight bold -slant roman -underline 0 -overstrike 0
	fontdiff = -family Inconsolata -size 13 -weight normal -slant roman -underline 0 -overstrike 0
	commitmsgwidth = 78
	encoding = utf-8
	diffcontext = 4
	historybrowser = gitk
[color]
	ui = auto
[core]
	editor = vim
[diff]
	tool = kdiff3
[diff "image"]
	command = simple-imagediff
[multidiff]
	tool = vimmultidiff -f
[merge]
	tool = kdiff3
[branch]
	autoSetupRebase = always
[alias]
	a  = add
	au = "!f() { git ls-files --unmerged | cut -f2 | sort -u ; }; git add `f`"
	b  = branch
	br = branch -r
	c  = commit
	co = checkout
	df = !sh -c 'git `git cat-file -t "$0" 1>/dev/null 2>&1 && echo show || echo diff` -U5 --minimal --word-diff=color --ignore-space-change --ignore-blank-lines --no-ext-diff "$0" "$@"'  
	eu = "!f() { git ls-files --unmerged | cut -f2 | sort -u ; }; vim `f`"
	f  = fetch       --prune --verbose
	fa = fetch --all --prune --verbose
	ig = !git ls-files -v | grep "^[[:lower:]]"
	l  = log       --graph        --abbrev-commit --date=relative --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr)%Creset %Cblue%an%Creset'
	la = log --all --graph --tags --abbrev-commit --date=relative --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr)%Creset %Cblue%an%Creset'
	mf = multidiff
	ro = !sh -c 'git rebase -i --autostash --autosquash origin/"$( git symbolic-ref --short HEAD )"'
	s  = status -sb
	sf = !sh -c 'git show --pretty="format:" --name-only "$@" | grep -v "^$" | sort -u' -
	su = submodule update --init --recursive

	try = !sh -c 'git clone --depth "${2-1}" --branch "${1-master}" --single-branch "$0"'

	freeze = !bash -c '. $HOME/bin/git-freeze.sh && git-freeze'
	thaw = !bash -c '. $HOME/bin/git-freeze.sh && git-thaw'

[push]
	default = nothing # ${pushDefault}
	recurseSubmodules = check

# See http://git-scm.com/blog/2010/03/08/rerere.html
[rerere]
	enabled = true

# See http://git-scm.com/docs/git-rebase#_configuration
[rebase]
	autoSquash = true
	autoStash = true

[stash]
	showPatch = true

[cola]
	fontdiff = Inconsolata,12,-1,5,50,0,0,0,0,0
	tabwidth = 4

# See https://github.com/git-cola/git-cola/blob/b6715fea/share/doc/git-cola/git-cola.rst#configuration-variables
[cola.color]
	text = 000000
	add = cdffe0
	remove = ffd0d0
	header = bbbbbb
