[submodule ".urxvt/ext/tabbedex"]
	path = .urxvt/ext/tabbedex
	url = git://github.com/stepb/urxvt-tabbedex.git
[submodule ".urxvt/ext/perls"]
	path = .urxvt/ext/perls
	url = git://github.com/muennich/urxvt-perls.git
[submodule ".vim/autoload/pathogen"]
	path = .vim/autoload/pathogen
	url = git://github.com/tpope/vim-pathogen.git
[submodule ".vim/bundle/vundle"]
	path = .vim/bundle/vundle
	url = git://github.com/gmarik/vundle.git
[submodule ".zsh/scripts/z"]
	path = .zsh/scripts/z
	url = git://github.com/rupa/z.git
[submodule ".rbenv"]
	path = .rbenv
	url = git://github.com/sstephenson/rbenv.git
[submodule ".rbenv-plugins/ruby-build"]
	path = .rbenv-plugins/ruby-build
	url = git://github.com/sstephenson/ruby-build.git
