[user]
	name = ${name}
	email = ${email}
[company]
	name = PSP UK Group Ltd.
	email = hello@psp-group.co.uk
[github]
	user = ${username}
	token = ${token}
[gui]
	fontui = -family \"DejaVu Sans\" -size 8 -weight bold -slant roman -underline 0 -overstrike 0
	fontdiff = -family Inconsolata -size 13 -weight normal -slant roman -underline 0 -overstrike 0
	commitmsgwidth = 78
	encoding = utf-8
	diffcontext = 4
	historybrowser = giggle
[color]
	ui = auto
[core]
	editor = vim
[diff]
	tool = vimdiff
[diff "image"]
	command = simple-imagediff
[merge]
	tool = vimdiff
[branch]
	autosetuprebase = always
[cola]
	fontdiff = Inconsolata,12,-1,5,50,0,0,0,0,0
	tabwidth = 4
[alias]
	a  = add
	au = "!f() { git ls-files --unmerged | cut -f2 | sort -u ; }; git add `f`"
	b  = branch
	br = branch -r
	c  = commit
	ca = commit --amend
	cm = commit -m
	co = checkout
	df = !sh -c 'git `git cat-file -t "$0" 1>/dev/null 2>&1 && echo show || echo diff` -U5 --minimal --word-diff=color --ignore-space-change --ignore-blank-lines --no-ext-diff "$0" "$@"'  
	eu = "!f() { git ls-files --unmerged | cut -f2 | sort -u ; }; vim `f`"
	f  = fetch       --prune --verbose
	fa = fetch --all --prune --verbose
	ff = flow feature
	fh = flow hotfix
	fi = flow init
	fr = flow release
	ig = !git ls-files -v | grep "^[[:lower:]]"
	l  = log       --graph        --abbrev-commit --date=relative --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr)%Creset %Cblue%an%Creset'
	la = log --all --graph --tags --abbrev-commit --date=relative --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr)%Creset %Cblue%an%Creset'
	rp = !bash -c 'git rev-parse --symbolic-full-name --abbrev-ref=strict "${1:-HEAD}" "${@:2}"' -
	s  = status -sb
	sf = !sh -c 'git show --pretty="format:" --name-only "$@" | grep -v "^$" | sort -u' -
	sl = stash list
	sp = stash pop
	su = submodule update --init --recursive
	try = !sh -c 'git clone --depth "${2-1}" --branch "${1-master}" --single-branch "$0"'

[push]
	default = nothing # ${pushDefault}

# See http://git-scm.com/blog/2010/03/08/rerere.html
[rerere]
	enabled = true
