[submodule ".urxvt/ext/font-size"]
	path = .urxvt/ext/font-size
	url = https://github.com/majutsushi/urxvt-font-size.git
[submodule ".urxvt/ext/perls"]
	path = .urxvt/ext/perls
	url = https://github.com/muennich/urxvt-perls.git
[submodule ".zsh/completions"]
	path = .zsh/completions
	url = https://github.com/zsh-users/zsh-completions.git
