Applications/
Desktop/
Documents/
Downloads/
Library/
Movies/
Music/
Pictures/
Public/

Creative Cloud*/

.*_history
.config/configstore/update-notifier-npm.json
.lesshst
.local/share/nvim/shada
.ssh/known_hosts
.zsh/history

.CFUserTextEncoding
.DS_Store
.yarnrc

Dropbox/
.dropbox

.iterm2/
.iterm2_*

.ssh/id_rsa*

.vim/plugged/
.viminfo

.z
.zcompdump

# Miscellaneous & caches
.docker/
.expo/
.node-gyp/
.npm/
