.adobe
.bash*
.cache
.compiz
.cola
.config
.dbshell
.dbus
.dmrc
.dropbox
.dropbox-dist
.esd_auth
.filezilla
.fontconfig
Games
.gconf*
.gem
.gimp*
.gitk
.gnome2
.gnupg
.gstreamer*
.gtk-*
.java
.juicer
.kde
.ICEauthority
.icons
.install_values
.lesshst
.libreoffice
.local
.macromedia
.minecraft
.mono
.mozilla
.mplayer
.mysql*
.NERDTreeBookmarks
.nvidia-*
.npm
.pearrc
.pki
.PlayOnLinux
.profile
.pulse*
.putty
.python*
.recently-used
.rvm*
.Skype
.ssh
.subversion
.sudo*
.teamviewer*
.thumbnails
.thunderbird
.vagrant
.vim/backup/*
!.vim/backup/.gitempty
.vim/bundle/*
!.vim/bundle/.gitempty
.vim/sessions/*
!.vim/sessions/.gitempty
.vim/undo/*
!.vim/undo/.gitempty
.viminfo
.VirtualBox
.wine
.xinput*
.xscreen*
.xsession*
.zcompdump
.zsh/*
!.zsh/.gitempty
bin
Desktop
Documents
Downloads
Music
Pictures
Public
Templates
Videos
*.lock
*.swp
*.tmp
