*
!bin
!.aliases
!.cleanup_profile.sh
!.ctags
!.danger_history
!.fonts
!.gemrc
!.gitconfig
!.gitignore
!.gitmodules
!.gtkrc-2.0
!.install_profile.sh
!.localrc_stan-inspiron_gnu_linux
!.profile.*
!.rbenv
!.ssh/
!.ssh/config
!.tmux.conf
!.urxvt/
!.urxvt/ext/
!.vim/
!.*vimrc*
!.Xresources
!.zsh/
!.zshrc

# Scripts
!bin/*

# rbenv
!.rbenv-plugins
!.rbenv-plugins/*

# Composer
bin/composer
!.composer/
!.composer/composer.json
!.composer/vendor/
!.composer/vendor/bin/
!.composer/vendor/bin/*

# Vim: after/ scripts, e.g., for CSS3 support in HTML/SCSS, Abolish, etc.
!.vim/after/
!.vim/after/syntax/
!.vim/after/syntax/*.vim
!.vim/after/plugin/
!.vim/after/plugin/*.vim

# Vim: after/ftplugin/ scripts, e.g., abbreviations by file type.
!.vim/after/ftplugin/
!.vim/after/ftplugin/*.vim

# Vim: vim-airline colour schemes in ~/.vim/autoload/airline/themes/file.vim
!.vim/autoload/*/
!.vim/autoload/*/*/
!.vim/autoload/*/*/*.vim

# Vim: Plug-ins
!.vim/plugin/
!.vim/plugin/*.vim

# Vim: UltiSnips snippets
!.vim/UltiSnips/
!.vim/UltiSnips/*/
!.vim/UltiSnips/*/*.snippet*

# Vim: Spelling dictionaries.
!.vim/spell/
!.vim/spell/.gitignore

# Vim: NERDTree
!.vim/nerdtree_plugin/
!.vim/nerdtree_plugin/*

# Zsh scripts.
!.zsh/scripts/
!.zsh/scripts/*

# Zsh completions.
!.zsh/completions
