# vi: set ft=php :
# <?php
snippet get
/**
 * Get ${3}.
 *
 * @return ${2:mixed}
 */
public function `!p snip.rv = ('is' if t[2] in ['bool', 'boolean'] else 'get')`${1:Property}()
{
	return $this->`!p snip.rv = (t[1][0].lower() + t[1][1:] if t[1] else '')`;
}$0
endsnippet
