# vi: set ft=php :
# <?php
snippet getter
/**
 * ${2}
 *
 * @return ${3:mixed}
 */
public function get${1:Property}()
{
	return $this->`!p snip.rv = (t[1][0].lower() + t[1][1:] if t[1] else '')`;
}$0
endsnippet
